<h1><%= @lab.name %></h1>

<h2>Staff:</h2>

<% @lab.scientists.sort_by(&:experiment_count).reverse.each do |scientist| %>
  <h3>
    <ul>
      <li>Name: <%= scientist.name %>, Experiments: <%= scientist.experiment_count %></li>
    </ul>
  </h3>
<% end %>